<footer id="footer" style="background-color:darkslategrey; padding-top:10px; height:280px">
    <div class="container" style="margin-top:10px!important;">
        <div class="row">
            <div class="col-sm-4 mb-small">
                <h4 style="color:#fff">Template Categories</h4>
                <ul>
                        <li style="color:#fff"><a style="color:#fff" href="/multipurpose-templates">Multipurpose templates</a></li>
                        <li style="color:#fff"><a style="color:#fff"href="/portfolio-themes">Portfolio themes</a></li>
                        <li style="color:#fff"><a style="color:#fff"href="/e-commerce-templates">E-commerce templates</a></li>
                        <li style="color:#fff"><a style="color:#fff" href="/landing-pages">Landing pages</a></li>
                        <li style="color:#fff"><a style="color:#fff" href="/admin-templates">Admin Templates</a></li>
                        <li style="color:#fff"><a style="color:#fff" href="/coming-soon-themes">Coming Soon Templates</a></li>
                        <li style="color:#fff"><a style="color:#fff" href="/classifieds-themes">Classifieds Themes</a></li>
                        <li style="color:#fff"><a style="color:#fff" href="/restaurant-templates">Restaurant Templates</a></li>
                        <li style="color:#fff"><a style="color:#fff" href="/blog-templates">Blog Templates</a></li>
                        <li style="color:#fff"><a style="color:#fff" href="/other-templates">Other templates</a></li>
                </ul>
            </div>           
            <div class="col-sm-4 mb-small">
                    <h4 style="color:#fff">Users</h4>
                    <p style="color: #fff; font-size: 40px; font-weight: 700;">268,723</p>
                    <h4 style="color:#fff">Downloads</h4>
                    <p style="color: #fff; font-size: 40px; font-weight: 700;">630,270</p>
            </div>                 
            <div class="col-sm-4 mb-small">
                <h4 style="color:#fff">About Angualar</h4>
                <p style="color:#fff">You will find here a great collection of exclusive <a style="color:#fff" href="/free-templates">Bootstrap templates</a> and themes ready to be used in your next project. All templates are fully responsive, HTML valid, premium quality and last but not least - a majority of them is free to use!</p>
                <p style="color:#fff" class="mb-small">To boost your coding skills, have a look at my collection of <a style="color:#fff" href="/tutorials">Bootstrap tutorials</a>.</p>
                <div class="social">
                    <a href="https://www.facebook.com/bootstrapious/" class="external facebook" data-animate-hover="pulse">
                        <svg class="svg-icon theme-solid-0"><use xlink:href="#facebook-1"></use></svg>
                    </a>
                    <a href="https://twitter.com/bootstrapious" class="external twitter" data-animate-hover="pulse">
                        <svg class="svg-icon theme-solid-0"><use xlink:href="#twitter-2"></use></svg>
                    </a>
                    <a class="instagram" data-animate-hover="pulse" rel="nofollow" href="/rss.xml">
                        <svg class="svg-icon theme-solid-0"><use xlink:href="#rss-2"></use></svg>
                    </a>
                    <a href="mailto:hello@bootstrapious.com" class="email" data-animate-hover="pulse">
                        <svg class="svg-icon theme-solid-2"><use xlink:href="#mail-1"></use></svg>
                    </a>
                </div>    
                <hr class="hidden-md hidden-lg hidden-sm">
            </div>
            <!-- /.col-sm-4 -->
        </div>
    </div>
    <!-- /.container -->
</footer>