<div class="container-fluid p-3" style="background-color: black;">
    <div class="container">
        <div class="row">
            <button [routerLink]="['/']"  class="btn btn-light m-2">
                #1. Dept using API
            </button>    
        </div>
        <div class="row">
            <button [routerLink]="['/dept-sql-demo']" class="btn btn-light m-2">
                #2. Dept using SQL
            </button>    
        </div>
        <div class="row">
            <button [routerLink]="['/dept-emp']" class="btn btn-light m-2">
                #3. Dept using PL/SQL
            </button>    
        </div>
        <div class="row">
            <button [routerLink]="['/dept-ref-cursor']"  class="btn btn-light m-2">
                #4. Dept/Emp using API
            </button>
        </div>
        <div class="row">
            <button [routerLink]="['/dept-ref-cursor']"  class="btn btn-light m-2">
                #5. Dept/Emp using SQL
            </button>
        </div>
        <div class="row">
            <button [routerLink]="['/dept-ref-cursor']"  class="btn btn-light m-2">
                #6. Dept/Emp using REF CURSOR
            </button>
        </div>
    </div>
</div>